/* Footer.css */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%; /* Take full width */
    box-sizing: border-box; /* Ensure padding is included in the width */
    background-color: transparent;
  }
  
  .footer-left {
    width: 33.33%; /* 1/3rd of the footer */
    text-align: center;
  }
  
  .footer-right {
    width: 66.67%; /* 2/3rd of the footer */
    text-align: left;
  }
  
  .logo {
    max-width: 50%; /* Ensure the logo fits within its container */
    height: auto;
  }
  