*{
    font-family: "Poppins", Arial, sans-serif;
    padding: 0;
    margin: 0;
}


.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.pageHeading{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    margin-bottom: 10px;
    color: #192042;
    justify-content: center;
}


input[type = "text" i] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 12px;
    /* background-color: #dcf3f7; */
    background-color: #F7FAFF;
}



button{
    display: flex;
    font-family: inherit;
    border-style: none;
    border-radius: 20px;
    background-color: #E28C41;
    border: 1px solid #E28C41;
    color: #F9F9F9;
    cursor: pointer;
    margin: auto;
    padding: 10px 20px;
}

button:hover{
    background-color: #F9F9F9;
    color: #E28C41;
    border: 1px solid #E28C41;
}

.btnDiv{
    margin: 10px;
    padding: 5%;
}

form{
    display: flex;
    flex-direction: column;
}

.formComponent{
    margin: 10px;
    /* background-color: rgb(212, 207, 245); */
    /* border-radius: 20px; */
}